{% extends ":template:layout.html.twig" %}



{% block page_title  %}
The Title
{% endblock page_title %}

{% block page_name  %}
    Dashboard
{% endblock page_name %}

{% block content %}
    <div class="col-md-12">
        Blank page content goes here
    </div>

{% endblock content %}