.login {
    /*background:#298eea;*/
    font-family:"proxima-nova";
    padding:0;
    margin:0;
    height: 100vh;
    padding-top: 5vh;
}

.login * {
    box-sizing:border-box;
    font-family:"proxima-nova",helvetica;
}

.login br.only-mobile {
    display:none;
}

.login .logo {
    display:block;
    height:100px;
    padding-top:40px;
    margin:0 auto 30px;
}

.login .logo.registration-message {
    margin-bottom:0;
}

.login a,.login a:visited {
    text-decoration:underline;
    color:inherit;
}

legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border: none;
}

.login ul.notice {
    margin:0;
    border:0;
    width:100%;
    text-align:center;
    list-style-position:inside;
    list-style:none;
    font-weight:600;
    font-size:15px;
    padding:10px;
}

.login ul.notice.errors {
    background-color:#EDE04D;
    color:#212200;
}

.login ul.notice.success {
    background-color:#15CD72;
    color:#fff;
}

.login ul.notice li {
    padding:5px 0;
}

.login p.registration-message {
    font-size:22px;
    line-height:28px;
    font-weight:400;
    text-align:center;
    color:#fff;
    margin:15px 0 40px;
}

.login .vertical-form {
    margin:0 auto;
    width:400px;
    padding:40px;
    border-radius:3px;
    background:#333;
}

.login .vertical-form legend {
    text-align:center;
    font-weight:300;
    color:#fff;
    margin:0 auto 45px;
    font-size:35px;
    line-height:38px;
    text-transform:none;
    letter-spacing:0;
}

.login .vertical-form legend:after {
    display:none;
}

.login .vertical-form ::-webkit-input-placeholder {
    color:#afafaf;
}

.login .vertical-form input[type='text'],.login .vertical-form input[type='email'],.login .vertical-form input[type='password'],.login .vertical-form input[type='number'],.login .vertical-form input[type='submit'] {
    background:#fcfcfc;
    border:2px solid #e7e7e7;
    margin:20px auto;
    padding:15px;
    width:100%;
    display:block;
    border-radius:3px;
    font-size:18px;
    transition:opacity .4s;
    text-align:left;
    height:auto;
    -webkit-appearance:none;
}

.login .vertical-form input[type='text']:focus,.login .vertical-form input[type='email']:focus,.login .vertical-form input[type='password']:focus,.login .vertical-form input[type='number']:focus,.login .vertical-form input[type='submit']:focus {
    border-color:#E7E7E7;
    box-shadow:none;
}

.login .vertical-form input[type='submit'] {
    color:#fff;
    background:#3572b0;
    border:0;
    font-weight:500;
    font-size:22px;
    text-align:center;
    cursor:pointer;
    margin-bottom:0;
    height:auto;
    -webkit-appearance:none;
}

.login .vertical-form input:hover[type='submit'] {
    background-color:#205081;
    -webkit-transition:background .1s;
    -moz-transition:background .1s;
    -o-transition:background .1s;
    transition:background .1s;
}

.login .vertical-form p {
    font-size:14px;
    text-align:center;
    margin:0;
    margin-top:10px;
    color:#999;
}

.login .vertical-form p a {
    text-decoration:none;
    border-bottom:1px solid #bbb;
}

.login .vertical-form p a:hover {
    border-color:#999;
    color:#777;
}

.login .footer {
    text-align:center;
    color:#fff;
    margin:20px auto;
}

.login .footer a {
    font-weight:600;
    border:0;
    padding:0;
}

.login .footer a:hover {
    color:#E7F1F9;
}

.login .footer p {
    margin-bottom:40px;
}

@media screen and (max-width: 550px) {
    .login .logo {
        height:65px;
        padding-top:30px;
    }

    .login p.oauth {
        margin:15px 0 25px;
        font-size:17px;
        line-height:21px;
        font-weight:600;
    }

    .login .vertical-form {
        width:100%;
        border-radius:0;
        padding:40px 20px;
    }
}

@media screen and (max-width: 350px) {
    .login br.only-mobile {
        display:inline;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.footer {
    padding: 20px 20px 5px 20px;
    font-size: 12px;
    text-decoration: none;
}

.footer-inner a {
    text-shadow: none !important;
    text-decoration: none !important;
    color: #fff !important;
}

#home-logo img {
    width: 225px;
    padding-top: 7px;
    margin-left: 25px;
}
body {
    color: #222222;
    background-color: #222222;
}
.header {
    background-color: #09517d !important;
}