{% extends "template/layout.html.twig" %}

{% block page_title  %}
    Change Password
{% endblock page_title %}

{% block page_name  %}
    Change Password
{% endblock page_name %}

{% block content %}
    <div class="row">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock content %}