{% extends ":template:layout.html.twig" %}

{% block page_title  %}
    Profile Information
{% endblock page_title %}

{% block page_name  %}
    Profile Information
{% endblock page_name %}

{% block content %}
    <div class="row">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
{% endblock content %}